.brands-block {

    padding-top: 55px;

    text-align: center;

    height: 253px;
    width: 1224px;

    margin: 200px auto 0 auto;

    border-radius: 25px;

    background-image: url("../img/background/back_brands.svg");
}

.brands-block__title {
    margin-bottom: 55px;
}

.brands {
    display: flex;
    column-gap: 107px;
    justify-content: center;
}