.popular-block{
    padding-top: 200px;
}

.popular-block__title{
    text-align: center;
    margin-bottom: 25px;
}

.popular-block__description{
    text-align: center;
    margin-bottom: 90px;
}

.tools{
    display: grid;
    grid-template-columns: 392px 392px 392px;
    row-gap: 100px;
    column-gap: 23px;
    justify-content: center;

    padding-bottom: 100px;
}

.tools__item{
    width: 392px;
    height: 294px;
    padding: 33px;
    position: relative;


    background: #283036;
    border-radius: 15px;

}

.tools-item__logo{
}

.tools-item__title{
    position: absolute;
    top: 33px;
    left: 130px;
}

.tools-item__price{
    position: absolute;
    top: 66px;
    left: 130px;

    color: rgba(255, 165, 55, .55);
}

.tools-item__description{
    margin-top: 30px;
    margin-bottom: 30px;

    color: rgba(255, 255, 255, .55);

}

.tools-item-buttons{
    display: flex;
    column-gap: 33px;

}

.tools-item-buttons__visit-button{
    margin-left: auto;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);

    cursor: pointer;
}

.popular-block__load-more{
    width: 184px;
    height: 64px;

    margin: 0 auto;

    border: 1px solid rgba(255,255,255,.1);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

    color: rgba(255, 110, 48, 1);

    cursor: pointer;

}

.tools-item-buttons__favourite{
    cursor: pointer;
}

.tools-item-buttons__folder{
    cursor: pointer;
}