.testimonial-block {
    margin: 200px auto 0 auto;

    padding: 0 108px 0 108px;
}

/*
Main part (without pages)
*/
.testimonial-block__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial-block__pages {
    margin-top: 100px;

    display: flex;

    column-gap: 18px;

    justify-content: center;
}

/*
Inactive page
*/
.testimonial-block__page {
    width: 44px;
    height: 8px;

    border-radius: 4px;

    background-color: #283036;

    cursor: pointer;
}

/*
Active page
*/
.testimonial-block__page-active {
    background-color: #FF6E30;
}

/*
Block with photo and text (all quotation block)
*/
.testimonial-quotation {
    width: 849px;
    height: 492px;

    display: flex;
}

/*
Block with photo and name
*/
.testimonial-quotation-person {
    position: relative;

}

.testimonial-quotation-person__photo {
    width: 1900px;
    z-index: 10;
}

.testimonial-quotation-person__info-block {
    background: url("../img/background/back_info.svg") rgba(40, 48, 54, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    width: 265px;
    height: 91px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    position: absolute;
    top: 320px;
    left: 145px;

    padding: 10px 22px 16px 23px;
}

.testimonial-quotation-person__name {

    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    color: rgba(255, 253, 253, 0.78);

    margin: 0;
}

.testimonial-quotation-person__position {

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 253, 253, 0.55);

    margin: 0;
}

.testimonial-quotation-person__back {
    position: absolute;

    z-index: -1;

    top: 60px;
}

/*
Block with text
*/
.testimonial-quotation-content {
    position: relative;

    padding-top: 128px;
    padding-left: 120px;
}

.testimonial-quotation-content__mark {
    position: absolute;
    top: 80px;
    left: 68px;
}


.testimonial-block-top__arrow-next {
    cursor: pointer;
}

.testimonial-block-top__arrow-back {
    cursor: pointer;
}

